/*CARDS UX WEB*/

@each $product, $grid in (literato, space1),
                          (patitas, space2),
                          (web1, space1), 
                          (web2, space2){
  .#{$product}{
    grid-area: $grid;

		@each $descripcion, $paddingL, $paddingT, $color in (descripcion_literato, 10.5rem, 8rem, #e3e3e3),
			                          (descripcion_patitas, 10rem, 8rem, #a32f62),
			                          (descripcion_web1, 12.5rem, 6.5rem, #e3e3e3), 
			                          (descripcion_web2, 11.7rem, 6.5rem, #e3e3e3){
			  .#{$descripcion}{
			    padding-top: $paddingT;
				padding-left:$paddingL;
				color:$color;
			  }
			}

  }
}

.card {
	height: 420px;
	width: 370px;
	display: flex;
	flex-direction: column;
	align-items: space-evenly;
	border-radius: .5rem;

	.imagen {
	position:absolute;
	z-index: 0;
	}

	.descripcion {
	font-weight: 400;
	font-size: 0.9rem;
	position: absolute;
	z-index: 1;
	}

	.button {
		background-color: white;
		border-radius: 0.5rem;
		border:none;
		width: 100px;
		height: 30px;
		margin-top: 13rem;
		margin-left: 12.5rem;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		position: absolute;
		z-index: 1;

		a {
		text-decoration: none;
		font-weight: 700;
		font-size: 0.8rem;
		color: black;
		}
		
		a:hover {
		color:#a834eb;
		}

	}


	.button--web1 {
		margin-top: 11rem;
	}

	.button--web2 {
		margin-top: 11rem;
		margin-left: 15rem;
	}


}

.card:hover {
	transform: perspective(500px) rotateY(10deg) rotateX(5deg);
	transition: 0.6s all ease-in-out;
}