@import "media-querys";

/*CARDS UX WEB*/

@each $product, $grid in (literato, space1),
                          (patitas, space2),
                          (web1, space1), 
                          (web2, space2){
  .#{$product}{
    grid-area: $grid;

		@each $descripcion, $paddingL, $paddingT, $color, $paddingLr, $paddingTr, $paddingTabletL, $paddingTabletT in (descripcion_literato, 10.5rem, 8rem, #e3e3e3, 45%, 35%, 23%, 17%),
			                          (descripcion_patitas, 10rem, 8rem, #a32f62, 45%, 35%, 23%, 17%),
			                          (descripcion_web1, 12.5rem, 6.5rem, #e3e3e3, 50%, 25%, 26%, 14%), 
			                          (descripcion_web2, 11.7rem, 6.5rem, #e3e3e3, 47%, 25%, 24%, 14%){
			  .#{$descripcion}{
			    padding-top: $paddingT;
				padding-left:$paddingL;
				color:$color;

					@include phone {	
					padding-left:$paddingLr;
					padding-top: $paddingTr;
					}

					@include tablet {	
					padding-left:$paddingTabletL;
					padding-top: $paddingTabletT;
					}

			  }
			}

  }
}

.card {
	width: 370px;
	display: flex;
	flex-direction: column;
	align-items: space-evenly;
	border-radius: .5rem;

		@include phone {	
		width: 100vw;
		}

		@include tablet {	
		width: 50vw;
		}


	.Cimagen {
	position:absolute;
	z-index: 0;

		@include phone {	
		width: 97%;
		height: auto;
		}

		@include tablet {	
		width: 50%;
		height: auto;
		}
	}

	.descripcion {
	font-weight: 400;
	font-size: 0.9rem;
	position: absolute;
	z-index: 1;

		@include phone {
          font-size: 3.5vw;
        }

        @include tablet {
          font-size: 1.8vw;
        }

	}

	.button {
		background-color: white;
		border-radius: 0.5rem;
		border:none;
		width: 100px;
		height: 30px;
		margin-top: 13rem;
		margin-left: 12.5rem;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		position: absolute;
		z-index: 1;

			@include phone {
          	width: 25%;
			height: 10%;
			margin-top: 50%;
			margin-left: 45%;
       		}

       		@include tablet {
          	width: 15%;
			height: 8%;
			margin-top: 25%;
			margin-left: 23%;
       		}

		a {
		text-decoration: none;
		font-weight: 700;
		font-size: 0.8rem;
		color: black;

			@include phone {
          		font-size: 4vw;
       		}

       		@include tablet {
          		font-size: 2vw;
       		}
		}
		
		a:hover {
		color:#a834eb;
		}

	}


	.button--web1 {
		margin-top: 11rem;

			@include phone {
			margin-top: 40%;
			margin-left: 50%;
       		}

       		@include tablet {
			margin-top: 21%;
			margin-left: 26%;
       		}
	}

	.button--web2 {
		margin-top: 11rem;
		margin-left: 15rem;

		@include phone {
			margin-top: 40%;
			margin-left: 65%;
       		}

       	@include tablet {
			margin-top: 21%;
			margin-left: 32%;
       		}
	}


}

.card:hover {
	transform: perspective(500px) rotateY(10deg) rotateX(5deg);
	transition: 0.6s all ease-in-out;
}