/*FOOTER*/

#pie {
display: flex;
flex-direction: row;
justify-content: space-between;
align-content: center;
position: fixed;
width: 100%;
left:0;
bottom: 0;
background-color: #2f384f;
color:#bdbdbd;
padding-top: 0.4rem;
grid-area: footer;

    img {
    max-width:1.2rem;
    }

	#redes {
	display: flex;
	justify-content: space-evenly;
	padding-left: 100px

	}

	 a {
	padding-left: 10px;
	padding-bottom: 5px;
	}
	
	#copyright {
	padding-right: 6.25rem;
	}

}
