@import "media-querys";


/*FOOTER*/

#pie {
display: flex;
flex-direction: row;
justify-content: space-between;
align-content: center;
position: fixed;
width: 100%;
left:0;
bottom: 0;
background-color: #2f384f;
color:#bdbdbd;
padding-top: 0.4rem;
grid-area: footer;

	@include phone {
			display: flex;
			flex-direction: column;
			justify-content: flex-star;
		  	}

    img {
    max-width:1.2rem;
    }

	#redes {
	display: flex;
	justify-content: space-evenly;
	padding-left: 100px;

		@include phone {
				padding-left: 1.5rem;
				justify-content: flex-start;
			  	}

	}

	 a {
	padding-left: 10px;
	padding-bottom: 5px;

		@include phone {
				padding-left: 1rem;
			  	}

	}
	
	#copyright {
	padding-right: 6.25rem;

		@include phone {
				padding-right: 0;
				padding-left: 1.5rem;
			  	}


	}


}
