@import "media-querys";


/*FOOTER*/

#pie {
display: flex;
flex-direction: row;
justify-content: space-between;
align-content: center;
position:fixed;
bottom:0;
left:0;
width: 100%;
height:9vh;
margin-top:50px;
background-color: #2f384f;
color:#bdbdbd;
padding-top: 0.8rem;
grid-area: footer;

	@include phone {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			font-size:4vw;
			height:10em;
			grid-area: footer;
			position:static;
		  	}


	@include tablet {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			font-size: 4vw;
			height:10em;
			grid-area: footer;
			position:static;
		  	}

    img {
    width:2.3vw;

    	@include phone {
				 min-width:8vw;
			  	}

    	@include tablet {
				 width:7vw;
			  	}
    }

	#redes {
	display: flex;
	justify-content: space-evenly;
	padding-left: 100px;

		@include phone {
				align-items: center;
				padding-left: 1.5rem;
				justify-content: flex-start;
			  	}

		@include tablet {
				align-items: center;
				padding-left: 1.5rem;
				justify-content: flex-start;
			  	}

	}

	 a {
	padding-left: 10px;
	padding-bottom: 5px;

		@include phone {
				padding-left: 1rem;
			  	}

	}
	
	#copyright {
	padding-right: 6.25rem;

		@include phone {
				padding-right: 0.2rem;
				padding-left: 1.5rem;
				padding-bottom:0.5rem;
			  	}
		@include tablet {
				padding-left: 1.5rem;
				justify-content: flex-start;
			  	}


	}


}
