@import "media-querys";

/*IMAGEN INDEX*/

.imagen {
  grid-area: imagen;
  align-items: center;
  justify-content: center;

  @include phone {
        margin-top:40%;
        margin-bottom:10%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

   @include tablet {
        margin-top:40%;
        margin-bottom:35%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

}   

.imagen__circulo {
	width: 27rem;
  position:absolute;
  z-index:1;

    @include phone {
        width: 100%;
          }

    @include tablet {
        width: 100%;
          }
}

.imagen__carousel {
  position:absolute;
  z-index: 2; 
}

.w-100 {
max-width: 27rem;

    @include phone {
        max-width: 100%;
          }

    @include tablet {
       max-width: 100%;
          }
}


.next { 
  display: flex;
  justify-content: center;
  align-self: center;
  grid-area: next;

    .flecha {
    max-height: 20px
   }

   @include phone {
        display:none;
      }
 }
