@import "media-querys";


$padding: 2rem;
$font-s: 2rem;
$font-w: 700;
$font-c: white;

/*INDEX*/

@each $element, $color, $font-weight, $font-style, $font-size in (Stitulo, white, 900, none, 3.25rem),
                          (Sh5, white, 700, none, 1.2rem),
                          (Sparrafo, white, 700, italic, 1.6rem,){
  .#{$element}{
    color:$color;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 6.25rem; 
  padding-top: ($padding)+1rem;
  grid-area: section;

   @include phone {
    padding-left: 8%; 
    padding-top: 40%;
    padding-right: 3%;

    justify-content: center;
  }
  
  @include tablet {
    padding-left: 2rem; 
    padding-top: 6rem;

  }

}

.Stitulo { 
padding-top:0.5rem;  

  @include phone {
        font-size: 12vw;;
      }

  @include tablet {
        font-size: 12vw;
      }

}

.Sh5 {
opacity: 60%;
  
  @include phone {
          font-size: 5vw;
        }

  @include tablet {
        font-size: 5vw;
      }
}

.Sparrafo { 
padding-top: ($padding)-0.5rem;

  @include phone {
          font-size: 5.5vw;
        }

  @include tablet {
        font-size: 5.5vw;
      }

}

.Sboton { 
background-color: white;
border-radius: 0.5rem;
border:none;
width: 170px;
height: 60px;
margin-left: 90px;
margin-top: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
      @include phone {
          margin-left:20%;
          width: 50vw;
          height: 13vh;
        }

      @include tablet {
        margin-left:20%;
        margin-bottom:10%;
        margin-top:10%;
        width: 50vw;
        height: 15vh;
        
      }

}

#contactus {
text-decoration: none;
font-weight:($font-w)+200;
font-size: ($font-s)-0.75rem;
color: black;

    @include phone {
         font-size: 5vw;
        }

      @include tablet {
        font-size: 6vw;
        
      }
}


#contactus:hover {
	color:#a834eb;
}
.Sboton:hover {
 border-radius: 0;
 transform: scale(1.2, 1.2)
}



/*UX-WEB-TEAM-CONTACT*/

@each $text, $grid, $color, $font-weight, $font-style, $font-size, $font-responsive, $padding-top, $padding-bottom in (titulo, h1, white, 900, none, 2.5rem, 12vw, 0),
                          (subtitulo, p, white, 700, italic, 1.5rem, 8vw, 3vh),
                          (parrafo, p, white, 700, italic, 1.25rem,6vw, 2vh, 10vh), 
                          (tituloWeb, h1, white, 900, none, 2rem, 10vw, 4vh){
  .#{$text}{
    grid-area: $grid;
    color:$color;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;

      @include phone {
        font-size: $font-responsive;
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;

      }

       @include tablet {
        font-size: $font-responsive;
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;

      }
  }
}

.texto {
  grid-area: texto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.4fr 2fr ;
  grid-template-areas: 
    "h1"
    "p";
  padding-left: ($padding)+4.25rem;

    @include phone {
      padding-left: 5vw;
      grid-template-rows: 0.4fr 1fr;
    }

     @include tablet {
      padding-left: 5vw;
      grid-template-rows: 0.4fr 1fr;
    }

    .subtitulo {
    padding-top: ($padding)-1rem;
  }

    .parrafo2  {
   padding-top: 4rem;

      @include phone {
        display:flex;
       flex-direction:row;
     }

     @include tablet {
        display:flex;
       flex-direction:row;
     }
   }

   .separacion {
       @include phone {
        padding-right:0.7rem;
       }

        @include tablet {
        padding-top: 10vh;
        padding-right:3vw;
        }
   }

   .parrafo-paddingWeb {
  padding-top: ($padding)-1rem;
  }

}


