@import "media-querys";


$padding: 2rem;
$font-s: 2rem;
$font-w: 700;
$font-c: white;

/*INDEX*/

@each $element, $color, $font-weight, $font-style, $font-size in (Stitulo, white, 900, none, 3.25rem),
                          (Sh5, white, 700, none, 1.2rem),
                          (Sparrafo, white, 700, italic, 1.6rem,){
  .#{$element}{
    color:$color;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 6.25rem; 
  padding-top: ($padding)+1rem;
  grid-area: section;
  
  @include phone and tablet {
    padding-left: 2rem; 
    padding-top: 1rem;

  }

}

.Stitulo { 
padding-top:0.5rem;  

  @include phone {
        font-size: 3rem;
      }

  @include tablet {
        font-size: 5rem;
      }

}

.Sh5 {
opacity: 60%;
}

.Sparrafo { 
padding-top: ($padding)-0.5rem;
}

.Sboton { 
background-color: white;
border-radius: 0.5rem;
border:none;
width: 170px;
height: 60px;
margin-left: 90px;
margin-top: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#contactus {
text-decoration: none;
font-weight:($font-w)+200;
font-size: ($font-s)-0.75rem;
color: black;
}


#contactus:hover {
	color:#a834eb;
}
.Sboton:hover {
 border-radius: 0;
 transform: scale(1.2, 1.2)
}



/*UX-WEB-TEAM-CONTACT*/

@each $text, $grid, $color, $font-weight, $font-style, $font-size in (titulo, h1, white, 900, none, 2.5rem),
                          (subtitulo, p, white, 700, italic, 1.5rem),
                          (parrafo, p, white, 700, italic, 1.25rem,), 
                          (tituloWeb, h1, white, 900, none, 2rem){
  .#{$text}{
    grid-area: $grid;
    color:$color;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
  }
}

.texto {
  grid-area: texto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.4fr 2fr ;
  grid-template-areas: 
    "h1"
    "p";
  padding-left: ($padding)+4.25rem;

    .subtitulo {
    padding-top: ($padding)-1rem;
  }

    .parrafo2  {
   padding-top: 4rem
  }

   .parrafo-paddingWeb {
  padding-top: ($padding)-1rem;
  }

}


